<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='banner-styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='iconochive.css') }}">

<meta http-equiv="content-type" content="text/html;">
<title>DreamSearch</title>
</head>
<body bgcolor="#344c4c" text="#000000" link="#0000cc" vlink="#551a8b" alink="#ff0000" topmargin="3" marginheight="3">
<div class="gbh" style="left:0"></div>
<div class="gbh" style="right:0"></div>
<div align="right" id="guser" style="font-size:84%;padding:0 0 4px" width="100%"></div>
<center>
<br clear="all" id="lgpd">
<img alt="DreamSearch" height="157" src="{{ url_for('static', filename='logo.png') }}" width="575">
<br><br>
<form action="/" name="f">
<table cellpadding="0" cellspacing="0">
<tbody>
<tr valign="top">
<td align="center" nowrap="nowrap">
<input style="background-color:#2d3838; color:#ffffff" maxlength="2048" name="query" size="55" title="Search"><br><br>
<input name="" type="submit" value="Search">
</td>
</tr>
</tbody>
</table>
</form>
<br><br>
<p style="color:rgb(165, 165, 165)"><font size="-2">©2024 DreamSearch</font></p>
</center>
</body>
</html>
